.divAuth {
    width: 80%;
    margin: auto;
}

.titreAuth {
    text-align: center;
}

.formAuth > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.formAuth > div > label {
    margin: 5px 0;
}

.formAuth > div > input {
    width: 70%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid slateblue;
    border-radius: 10px;
}

.formAuth > div > input[type='submit'] {
    max-width: 60%;
    background-color: cornflowerblue;
    margin: 15px 0;
    color: white;
    text-transform: uppercase;
}