.divFooter {
    height: 15vh;
    background-color: cornflowerblue;
    padding-top: 10px;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aFooter {
    font-size: larger;
    color: white;
}