nav {
    height: 80px;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.liens {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 992px) {
    nav {
        height: auto;
        background-color: cornflowerblue;
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    
    nav > div {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    nav > div > .liens {
        border: 1px solid slateblue;
        margin: 0;
        margin-top: -1px;
        padding: 10px 5%;
        text-align: center;
    }

    nav > div > .liens:hover {
        background-color: slateblue;
    }
}